{% extends "base.html" %}
{% block content %}
<h2>🎞️ Намерени филми</h2>

 <div class="movies-container">
        {% for movie in movies %}
        <div class="movie-card">
            {% if movie.poster_url %}
                <img src="{{ movie.poster_url }}" alt="{{ movie.title }}" class="poster">
            {% else %}
                <img src="/static/no-poster.png" alt="No image" class="poster">
            {% endif %}
            <h3 class="movie-title">{{ movie.title }}</h3>
            <p class="movie-info">⭐ {{ movie.rating }} | {{ movie.year }}</p>
            <form action="/recommendations" method="post">
                <input type="hidden" name="movie_id" value="{{ movie.id }}">
                <button type="submit" class="rec-btn">Препоръки</button>
            </form>
        </div>
        {% endfor %}
 </div>
{% endblock %}
